{% extends 'blog/base.html' %}

{% block content %}
    <div class="post_box_content">
    <h3>Письмо с инструкциями по восстановлению пароля отправлено</h3>
    <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
    Если Вы не получили письмо, пожалуйста, убедитесь, что ввели адрес с которым зарегистрировались, и проверьте папку со спамом.</p>
    </div>
{% endblock %}