{% extends 'blog/base.html' %}

{% load members_tags %}

{% block content %}
    <div class="post_box_content">
    <h3>Профиль {{ user.username }}</h3>

        {% if user.is_email_activated %}
            <p>E-mail: {{ user.email }} - подтвержден.</p>
        {% else %}
            <p>E-mail: {{ user.email }} - не подтвержден.</p>
            <p><a href="{% url 'repeat-send-email' %}">Повторно отправить сообщение для активации e-mail.</a></p>
        {% endif %}
        <p>Пароль: ****** - <a href="{% url 'change-password' %}">Изменить пароль</a></p>
        <p>Имя: {{ user.first_name|value_or_empty }}</p>
        <p>Фамилия: {{ user.last_name|value_or_empty }}</p>
        <p>О себе: {{ user.bio|value_or_empty }}</p>
        <p>Git-репозиторий: {{ user.git|value_or_empty }}</p>
        <a href="{% url 'update-profile' %}">Редактировать профиль</a>
    </div>

    {% if user_posts %}
        <div class="cleaner h10"></div>
        <div class="cleaner h10"></div>
        <div class="cleaner h10"></div>

        <div class="post_box_content">
            <h3>Посты автора {{ user.username }}</h3>
            <ul>
                {% for post in user_posts %}
                <li>
                    <h3><a href="{% url 'blog:post-detail' post.slug %}">
                        {{ post.title }}
                        {% if post.status == 'DF' %}
                            <span>- Не опубликован</span>
                        {% endif %}
                        </a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}