{% extends 'blog/base.html' %}

{% block content %}

    <h2>О сайте</h2>
    <p>На данном сайте я буду публиковать посты на интересные мне темы по web-разработке и обо всем, что хоть как-то с ней связано.
        Любой желающий может принять участие и поделиться своими знаниями в данной области написав статью или прокомментировать существующую.
    </p>

<br>
<br>
    <h2>Правила сайта</h2>
    <p>1. Запрещено публиковать материалы, содержащие оскорбления, угрозы, дискриминацию, насилие и пропаганду незаконных действий.</p>
    <p>2. Запрещено копировать материалы с других сайтов без указания авторства и ссылки на источник.</p>
    <p>3. Запрещено использовать сайт для распространения спама, вирусов и других вредоносных программ.</p>
    <p>4. Администратор сайта оставляет за собой право удалить любой материал, который не соответствует правилам сайта.</p>
    <p>5. Пользователи могут оставлять комментарии под материалами, но запрещено оскорблять других пользователей и нарушать правила сайта.</p>
    <p>6. Администратор сайта имеет право изменять правила сайта без предварительного уведомления пользователей.</p>

{% endblock %}