{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS DevBlog</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="container">

        <div id="plate_header">
            <div id="site_title"><h1><a href="{% url 'blog:home' %}"><span>MS</span> DevBlog</a></h1></div>
            <div id="tooplate_menu">
                {% include "blog/includes/main_menu.html" with selected=selected user=user%}
            </div>
        </div>

        <div id="tooplate_main">
            <div class="col_w960 hr_divider">
                    <div class="col_w200 lp_box float_r">
                        <div class="cleaner h10"></div>

                        <h3>Поиск</h3>
                        <ul class="tooplate_list">
                            <form class="d-flex" method="post" action="{% url 'blog:post-search' %}">
                                {% csrf_token %}
                              <input name="searched" class="required input_field w-200" type="search" placeholder="Поиск" aria-label="Search">
                              <button class="submit_btn float_r none" type="submit">Поиск</button>
                            </form>
                        </ul>

                        <h3>Категории</h3>
                        <ul class="tooplate_list">
                            {% for category in categories %}
                                <li><a href="{% url 'blog:category' category.slug %}">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>

                        <h3>Новые посты</h3>
                        <ul class="tooplate_list">
                            {% for new_post in new_posts %}
                                <li><a href="{% url 'blog:post-detail' new_post.slug %}">{{ new_post.title }}</a></li>
                            {% endfor %}
                        </ul>

                        <h3>Теги</h3>
                        <div class="tooplate_list">
                            {% for tag in tags_list %}
                            <span class="item">
                            _<a href="{% url 'blog:tag' tag.slug %}">{{ tag.name }}</a>_
                            </span>
                            {% endfor %}
                        </div>

                        <a href="{% url 'blog:post-feed' %}"><img src="{% static 'images/rss.png' %}" alt="rss"></a>
                    </div>

                    <div class="col_w730 float_l">
                        <div class="post_box">

                            {% block content %}
                            <div class="post_box_content">
                                <h3>Страница не найдена...</h3>
                            </div>
                            {% endblock %}
                            <div class="cleaner h10"></div>
                            <div class="cleaner h10"></div>
                            <div class="cleaner h10"></div>

                        </div>
                    </div>
            </div>
        </div>
    </div> <!--  end "container"  -->

        <div id="tooplate_footer_wrapper">
            <div id="tooplate_footer">
                Copyright © 2023 <a target="_blank" href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-m-7b36a7280/">Сергей Матвеев</a>
            </div>
        </div>
</body>
</html>