{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="container">

        <div id="plate_header">
            <div id="site_title"><h1><a href="{% url 'blog:home' %}"><span>MS</span> DevBlog</a></h1></div>
            <div id="tooplate_menu">
                {% include "blog/includes/main_menu.html" with selected=selected %}
                <ul>
                    <li class="last"><a href="#">Войти</a></li>
                </ul>
            </div>
        </div> <!-- end plate_header-->

        <div id="tooplate_main">
            <div class="col_w960 hr_divider">

                    <div class="col_w200 lp_box float_r">
                        <h3>Категории</h3>
                        <ul class="tooplate_list">
                            <li><a href="#">Linux</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">Django</a></li>
                            <li><a href="#">Flask</a></li>
                            <li><a href="#">FastAPI</a></li>
                        </ul>

                        <h3>Новые посты</h3>
                        <ul class="tooplate_list">
                            <li><a href="#">Django from request to response</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">Django</a></li>
                            <li><a href="#">Flask</a></li>
                            <li><a href="#">FastAPI</a></li>
                        </ul>

                        <h3>Новые комментарии</h3>
                        <ul class="tooplate_list">
                            <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla omnis sequi voluptatibus! Corporis ea animi facilis voluptatibus maxime et quisquam, distinctio autem sunt reiciendis reprehenderit vitae quis sed alias itaque.</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">Django</a></li>
                            <li><a href="#">Flask</a></li>
                            <li><a href="#">FastAPI</a></li>
                        </ul>

                        <a href=""><img src="{% static 'images/rss.png' %}" alt="rss"></a>
                    </div>

                    <div class="col_w730 float_l">
                        <div class="post_box">

                            {% block content %}
                            <div class="post_box_content">
                                <h3>Страница не найдена...</h3>
                            </div>
                            {% endblock %}

                        </div>
                    </div>
            </div>
        </div>
    </div> <!--  end "container"  -->

        <div id="tooplate_footer_wrapper">
            <div id="tooplate_footer">
                Copyright © 2023 <a href="#">Сергей Матвеев</a>
            </div>
        </div>
</body>
</html>