{% extends 'blog/base.html' %}

{% load blog_tags %}

{% block content %}
<div class="post_box_content">
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
    <p>{{ object.body }}</p>
    <p><span><b>{{ object.time_updated|date:"d-m-Y H:i" }}</b></span></p>
    {% if object.tags.all %}
        <p>Теги:
            {% for tag in object.tags.all %}
                <a href="{% url 'blog:tag' tag.slug %}">_{{ tag.name }}_</a>
            {% endfor %}
        </p>
    {% endif %}
    <div class="cleaner h10"></div>
    <h5>Автор статьи</h5>
    <p>
        <b>{{ object.user.username }}</b> {{ object.user.first_name }} {{ object.user.last_name }}<br>
        {{ object.user.bio }}<br>
        {% if object.user.git %}
            <a target="_blank"  href="{{ object.user.git }}">GitHub {{ object.user.username }}</a>
        {% endif %}
    </p>
    <div class="cleaner h10"></div>
    <div class="cleaner h10"></div>
    <div class="d-flex-space-between">
        <a class="more float_r" href="" onclick="javascript:history.back(); return false;">Назад</a>
        {% if is_author %}
            <a class="more float_l" href="{% url 'blog:post-update' object.slug %}">Править</a>
        {% endif %}
    </div>
</div>

<div class="post_box_content">
    <br><br>
    <h4>Комментарии</h4>
</div>

{% if user.is_authenticated %}
    {% if user.is_email_activated %}
    <div id="cp_contact_form">
        <form method="post" name="contact">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="cleaner h10"></div>
            <input type="submit" value="Отправить" id="submit" name="submit" class="submit_btn float_l" />
        </form>
    </div>
    {% else %}
        <div class="post_box_content">
            <div class="cleaner h10"></div>
            <p>Подтвердите адрес E-mail: {{ user.email }} чтобы оставить комментарий.</p>
            <p><a href="{% url 'repeat-send-email' %}">Повторно отправить сообщение для активации e-mail.</a></p>
            <div class="cleaner h10"></div>
        </div>
    {% endif %}
{% else %}
    <div class="post_box_content">
        <div class="cleaner h10"></div>
        <a href="{% url 'login' %}">Авторизуйтесь</a> чтобы оставить комментарий.
    </div>
{% endif %}

{% if comments %}
<div class="post_box_content">
    <div class="cleaner h10"></div>
</div>
    {% for comment in comments %}
    <div class="post_box">
        <div class="post_box_date">
            {{ comment.time_created|date:"d-m-Y H:i" }}
            <span>{{ comment.user.username }}</span>
        </div>

        <div class="post_box_comment_content"><p>{{ comment.body|extra_space }}</p><hr></div>
    </div>
    {% endfor %}
{% endif %}
<div class="cleaner h10"></div>
<div class="cleaner h10"></div>
{% endblock %}